<ion-header>
  <ion-toolbar>
    <ion-title>Survey Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>*Field are mandatory</ion-card-subtitle>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>*Polling Station:</ion-label>
        <ion-select  id="poll" >
          <ion-select-option>Select</ion-select-option>
          <ion-select-option *ngFor="let item of dataas; index as pos" value="{{item.dist}}">{{item.dist}}</ion-select-option>
        </ion-select>
      </ion-item>

      
      <ion-item>
        <ion-label>Village</ion-label>
        <ion-select value="Salemthar" id="village">
          <div *ngFor="let item of row_data">
            <ion-select-option value="{{item.village}}">{{item.village}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Village No:</ion-label>
        <ion-input placeholder="Enter Village No" id="villageno" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>House No:</ion-label>
        <ion-input placeholder="Enter Village No" id="house" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>*Name:</ion-label>
        <ion-input placeholder="Enter Name" id="name" ></ion-input>
      </ion-item>

        <div class="test">
          <ion-label>*Gender:</ion-label>
          <ion-row>
            <ion-col>
              <input type="radio" id="male"
              name="contact" value="Male" checked>&nbsp;<span class="re">Male</span>
         
            </ion-col>
            <ion-col>
              <input type="radio" id="female"
              name="contact" value="Female">&nbsp;<span class="re">Female</span>
         
            </ion-col>
            <ion-col>
              <input type="radio" id="others"
              name="contact" value="Female">&nbsp;<span class="re">Others</span>
         
            </ion-col>
          </ion-row>
        </div>

      <ion-item>
        <ion-label>*Age:</ion-label>
        <ion-input type='number' placeholder="Enter Age" id="age"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>*Guardian Name:</ion-label>
        <ion-input placeholder="Enter Guardian Name" id="gurdian" ></ion-input>
      </ion-item>



      <!-- <ion-item>
        <ion-label>Village:</ion-label>
        <ion-input placeholder="Enter Village"  id="village" ></ion-input>
      </ion-item> -->

      <!-- <ion-item>
        <ion-label>Village</ion-label>
        <ion-select value="Salemthar" id="village">
          <div *ngFor="let item of row_data">
            <ion-select-option value="{{item.village}}">{{item.village}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Village No:</ion-label>
        <ion-input placeholder="Enter Village No" id="villageno" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>House No:</ion-label>
        <ion-input placeholder="Enter Village No" id="house" ></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label>Voter ID:</ion-label>
        <ion-input placeholder="Enter Voter ID" id="voterid"  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Remarks:</ion-label>
        <ion-input placeholder="Enter remarks" id="remarks"  ></ion-input>
      </ion-item>

      <div class="test">
        <ion-label>Suggestions:</ion-label>
        <ion-row>
          <ion-col>
            <input type="radio" id="yes"
            name="contact1" value="Yes" >&nbsp;<span class="re">Yes</span>
       
          </ion-col>
          <ion-col>
            <input type="radio" id="no"
            name="contact1" value="No">&nbsp;<span class="re">No</span>
       
          </ion-col>
          <ion-col>
            <input type="radio" id="notyet"
            name="contact1" value="Nota" checked>&nbsp;<span class="re">Not Yet</span>
       
          </ion-col>
        </ion-row>
      </div>
      
  

     
     <!-- <ion-list>
      <ion-radio-group value="yes" id="votee">
        <ion-list-header>
          <ion-label>
           Vote for BJP
          </ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No Answer</ion-label>
          <ion-radio value="Nota"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list> -->
    <ion-item>
      <ion-label>Capture Image:</ion-label>
      <ion-button color="primary" (click)='selectImage()'><ion-icon name="camera-outline"></ion-icon>  Capture</ion-button>
    </ion-item>
    <ion-grid *ngFor="let img of images; index as pos" text-wrap>

      <ion-img [src]="img.path" style="width: 300px; height: 250px;"></ion-img>

    </ion-grid>
    <br>
    <ion-button expand="full" (click)=getLocationCoordinates() >Submit</ion-button>

    </ion-card-content>
  </ion-card>  
</ion-content>
