<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="middle">
    <div class="form">
      <div class="center">
        <ion-avatar>
          <img src="https://www.kindpng.com/picc/m/247-2478665_bjp-logo-png-photo-bharatiya-janata-party-transparent.png">
        </ion-avatar>
      </div>
      
      <h2>Login</h2>
     
      <div class="input">
        <div class="inputBox">
          <label>Username</label>
          <input type="text" id="username" placeholder="username">
        </div>
        <div class="inputBox">
          <label>Password</label>
          <input type="password" id="password" placeholder="Password">
        </div>
        <div class="inputBox" (click)='login()'>
          <input type="submit" value="Signin">
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
