<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary" (click)="logout()">
      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://www.wallpaperkiss.com/wimg/b/147-1475643_big.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Survey</ion-card-subtitle>
      <ion-card-title>Bharatiya Janata Party</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          Approved:
        </ion-col>
        <ion-col>
         {{yes}}
        </ion-col>
        <ion-col>
         out of  {{total}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Survey</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          Total Survey Done:
        </ion-col>
        <ion-col>
         0
        </ion-col>
        <ion-col>
         out of 20
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
  <div class="fivesurvey">
    <p>Last 5 Survey</p>
    <div *ngFor='let data of row_data'>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Name: {{data.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            VoterId:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            {{data.voterid}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Polling Station:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            {{data.ps}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Husband/Father Name:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            {{data.guardian}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    </div>

    <!-- <ion-card>
      <ion-card-header>
        <ion-card-title>Name: S Roy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            VoterId:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Address:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           DSA
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Husband/Father Name:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Name: S Roy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            VoterId:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Address:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           DSA
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Husband/Father Name:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Name: S Roy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            VoterId:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Address:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           DSA
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Husband/Father Name:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>




    <ion-card>
      <ion-card-header>
        <ion-card-title>Name: S Roy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            VoterId:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Address:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           DSA
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            Husband/Father Name:
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
           ASDA45
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="next()">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
